<!-- main page, probably will start with display of objects right way... will create actual home screen way later if needed. -->
<%- include("partials/header.ejs") %>

<main>
  <h1>testing main</h1>
</main>

<%- include("partials/footer.ejs") %>
