footer {
  position: absolute;
  bottom: 0;
}
/* 
.sm-Img {
  float: left;
  padding: 10px;
}
.sm-Img img {
  height: 100px;
  display: block;
  cursor: pointer;
  margin: 10px;
}
.sm-Img img:hover {
  opacity: 50%;
  background-color: grey;
}
.full-Img {
  float: right;
  padding: 10px;
} */

/* Test below for horizontallys crolling carousel */
.gallery {
  height: 200px;
  width: min-content;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.gallery-item {
  object-fit: contain;
  margin-right: 10px;
  flex-shrink: 0;
  scroll-snap-align: center;
}
